<style type="text/css">
</style>
<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab">数据统计</a></li>
        </ul>
    </div>
    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="doge_chart" style="height:480px;width:100%;"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div id="bch_chart" style="height:480px;width:100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var chartList = {:json_encode($chartList)};
    console.log("chartList:",chartList)
</script>